<!DOCTYPE html>
<html lang="en">
	<head>
		<script src="static/js/jquery-3.2.1.min.js"></script>
		<script src="static/js/bootstrap.js"></script>
		<script type="text/javascript" src="static/js/add.js"></script>
		<link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="static/css/bootstrap-theme.css">
	    <title>Job Application Portal</title>
	</head>
	<body>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Job Application Record <small>under development</small></a>
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
						<span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
					</button>
				</div>

				<div class="collapse navbar-collapse" id="nav">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/">Add application to database</a></li>
						<li><a href="/search">Search for an application</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container">
		<h3>Total Applications: <span class="bg-info">{{no_app}}</span></h3>
			
			<div>
				<form class="form-horizontal" method="POST">
					<div class="form-group">	
						<label class="control-label col-sm-2" for='company'>Company<span class='text-danger'>*</span>:</label>
						<div class="col-sm-2">
							<input class="form-control" type="text" name="company" id="company" required>
						</div>
						<label class="control-label col-sm-2" for='position'>Position<span class='text-danger'>*</span>:</label>
						<div class="col-sm-2">
							<input class="form-control" type="text" name="position" id="position" required>
						</div>
						<label class="control-label col-sm-2" for='pid'>Position ID:</label>
						<div class="col-sm-2">
							<input class="form-control" type="text" name="pid" id="pid">
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-sm-2" for="country">Country<span class='text-danger'>*</span>:</label>
						<div class="col-sm-2">
							<div class="row container-fluid">
								<select class="form-control" required id="country" name="country">
									<option>US</option>
									<option>Canada</option>
									<option>UK</option>
									<option>Australia</option>
									<option>India</option>
									<option>Other</option>
								</select>
							</div>
							<div class="row container-fluid hidden">
								<input class="form-control input-sm" type="text" name="other_country" placeholder="Other country ...">
							</div>
						</div>
						<label class="control-label col-sm-2" for='location'>Location:</label>
						<div class="col-sm-2">
							<input class="form-control" type="text" name="location" id="location">
						</div>
						<label class="control-label col-sm-2" for="date">Date<span class="text-danger">*</span>:</label>
						<div class="col-sm-2">
							<input class="form-control" type="date" name="date" id="date" required>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2" for='skill'>Skills<span class='text-danger'>*</span>:</label>
						<div class='row'>
							<div class='col-sm-3' >
								<div class='checkbox' id='skill'>
									<label><input type="checkbox" name="skills" value="C">C</label>
								</div>
								<div class='checkbox'>
									<label><input type="checkbox" name="skills" value="C++" >C++</label>
								</div>
								<div class='checkbox'>
									<label><input type="checkbox" name="skills" value="C#" >C#</label>
								</div>
								<div class='checkbox'>
									<label><input type="checkbox" name="skills" value="Java" >Java</label>
								</div>
								<div class='checkbox'>
									<label><input type="checkbox" name="skills" value="Python" >Python</label>
								</div>
								<div class='checkbox'>
									<label><input type="checkbox" name="skills" value=".Net" >.Net</label>
								</div>
								<div class='checkbox'>
									<label><input type="checkbox" name="skills" value="HTML" >HTML</label>
								</div>
							</div>
							<div class='col-sm-3' name="skill">
								<div class='checkbox'>
									<label><input type="checkbox" name="skills" value="CSS" >CSS</label>
								</div>
								<div class='checkbox'>
									<label><input type="checkbox" name="skills" value="JavaScript" >JavaScript</label>
								</div>
								<div class='checkbox'>
									<label><input type="checkbox" name="skills" value="jQuery" >jQuery</label>
								</div>
								<div class='checkbox'>
									<label><input type="checkbox" name="skills" value="OpenCV" >OpenCV</label>
								</div>
								<div class='checkbox'>
									<label><input type="checkbox" name="skills" value="Machine Learning" >Machine Learning</label>
								</div>
								<div class='checkbox'>
									<label><input type="checkbox" name="skills" value="git">GIT</label>
								</div>
								<div class='checkbox'>
									<label><input type="checkbox" name="skills" value="SQL">SQL</label>
								</div>
							</div>
							<div class='col-sm-3' name="skill">
								<div class='checkbox'>
									<label><input type="checkbox" name="skills" value="NoSQL" >NoSQL</label>
								</div>
								<input class='form-control input-sm' type="text" name="other_skills" id='other_skills' placeholder="Any other skills ...">
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2" for="portal">Submitted Through<span class="text-danger">*</span>:</label>
						<div class="col-sm-10" id='portal'>
							<div class="row container-fluid">
								<label class="radio-inline"><input type="radio" name="portals" value="LinkedIn" id='LinkedIn' required>LinkedIn</label>
								<label class="radio-inline"><input type="radio" name="portals" value="AngelList" id='AngelList'>AngelList</label>
								<label class="radio-inline"><input type="radio" name="portals" value="Indeed" id='Indeed'>Indeed</label>
								<label class="radio-inline"><input type="radio" name="portals" value="ZipRecruiter" id='ZipRecruiter'>ZipRecruiter</label>
								<label class="radio-inline"><input type="radio" name="portals" value="Company Website" id='comp_web'>Company Website</label>
								<label class="radio-inline"><input type="radio" name="portals" value="Other" id='other_p'>Other</label>
							</div>
							<div class="row hidden container-fluid col-sm-3">
								<input class="form-control input-sm" type="text" name="other_portals" id='other_portal' placeholder="Other portal ...">
							</div>
						</div>
					</div>

					<p class="text-center mark">All the fields marked with <span class="text-danger">*</span> are required.</p>

					<div class="form-group text-center">
						<button type="submit" class='btn btn-success'>Submit</button>
						<button type="button" class='btn btn-danger' id='clear'>Clear</button>
					</div>

					<div class="{{success}} alert alert-success fade in alert-dismissable">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<strong>Success!</strong> Job application added to database.
					</div>

					<div class="{{failure}} alert alert-danger fade in alert-dismissable">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<strong>Error!</strong> Server error! Unable to add application to database.
					</div>
				</form>
			</div>

		</div>
	</body>
</html>